.btn{
    border:0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 150px;

}

.btn:hover{
    cursor:pointer;
    opacity: .9;
}

.vermelho{
    background-color: red;
    color:white;
}

.azul{
    background-color: #0d6efd;
    color: white;
}

.verde{
    background-color: green;
    color: white;
}

.laranjado{
    background-color: orange;
    color: white;
    border: 0;
}
.marrom{
    background-color: brown;
    color: white;
}