
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style:none;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

main{
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: space-between;
}

section{
  padding: 45px 0;
}